.awards-container {
	background-color: var(--secondary-black);
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.blocks-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.unlock-container {
	/* max-width: 100px; */
}

.legenda-container {
	display: flex;
	gap: 3px;
}

.small-text,
.award-description {
	font-variation-settings: "wght" 400;
	font-size: 0.75rem;
}

.award-title {
	font-size: 1.5rem;
	font-variation-settings: "wght" 700;
	margin: 0;
	margin-top: 1rem;
}

.award-info-container {
	margin-top: 1rem;
	border-top: 1px solid var(--theme-color);
	width: 100%;
}

.award-user-list {
	list-style-type: none;
	padding: 0;
}

.award-list-item {
	display: flex;
	flex-direction: column;
	max-width: min-content;
}

.unlocked-by,
.username {
	margin-top: 0.5rem;
}

.unlocked-by {
	font-size: 1rem;
}
