.block {
	border-radius: 0.2rem;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: var(--theme-color);
}

.level-1 {
	opacity: 0.3;
	border: 3px solid var(--theme-color);
}

.level-2 {
	opacity: 0.55;
	border: 3px solid var(--theme-color-transparent-20);
}

.level-3 {
	opacity: 0.85;
	border: 3px solid var(--theme-color-transparent-20);
}

.level-4 {
	border: 3px solid var(--theme-color-transparent-20);
}

.locked {
	background: transparent;
	border: 2px dashed var(--theme-color);
}
